.categories-container {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categories-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: 600;
}

.categories-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.category-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: none;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.category-card:hover {
    transform: scale(1.02);
}

.category-name {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 8px;
    font-weight: 700;
    text-align: center;
}

.category-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

.category-transport-cost {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 8px;
    text-align: center;
}

.category-is-prohibited {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: #e63946;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    margin-top: 8px;
}

.button:hover {
    background-color: #0056b3;
}

.loading, .error {
    font-size: 1.1rem;
    text-align: center;
    color: #555;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.no-categories {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.add-category-card {
    background: #f5f3f3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 8px;
    padding: 15px;
}

.add-category-card:hover {
    background: #dad0d0;
}

.plus-icon {
    font-size: 2rem;
    line-height: 1;
    color: #000000;
}

.add-text {
    margin-top: 5px;
    font-size: 1rem;
    color: #000000;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.edit-button {
    background-color: #28a745; 
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545; 
}

.delete-button:hover {
    background-color: #c82333;
}

.category-is-prohibited.allowed {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: #28a745; 
}